 
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #8a89894b;
  padding: 10px;
} 

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}


.content-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  flex-shrink: 0;
}

.card {
  flex: 1 0 300px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #8a89894b;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.card-left {
  text-align: left;
  margin-right: 10px;
}

.card-right {
  text-align: right;
  margin-left: 10px;
}

.card-center {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.positive-amount {
  color: green;
}

.negative-amount {
  color: red;
}

.add-entry-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #8a89894b;
  width: 100%;
  padding: 10px;

}

.add-entry-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px; 
}