<div class="container">
    <h2>{{ groupTitle }}</h2>
    <div class="tab-container">
        <button class="tab" [ngClass]="{ 'active': activeTab === 'expenses' }" (click)="activeTab = 'expenses'">Expenses</button>
        <button class="tab" [ngClass]="{ 'active': activeTab === 'users' }" (click)="activeTab = 'users'">Users</button>
        <button class="tab" [ngClass]="{ 'active': activeTab === 'balance' }" (click)="activeTab = 'balance'">Balance</button>
        <button class="tab" [ngClass]="{ 'active': activeTab === 'debts' }" (click)="activeTab = 'debts'">Debts</button>
    </div>
    <div class="content-container">
        <div class="expense-content" *ngIf="activeTab === 'expenses'">
          <div class="card" *ngFor="let expense of expenses">
            <h5 class="card-title">{{ expense.attributes.description }}</h5>
            <p class="card-text">{{ expense.attributes.user }}</p>
            <p class="card-text">{{ expense.attributes.amount }}</p>
            <p class="card-text">{{ expense.attributes.currency }}</p>
            <p class="card-text">{{ expense.attributes.dateCreated }}</p>
          </div>
          <button class="add-btn" *ngIf="!showAddExpenseForm" (click)="toggleAddExpenseForm()">Add expense</button>
          <div id="add-expense-form-container" *ngIf="showAddExpenseForm">
            <button class="btn btn-secondary" (click)="toggleAddExpenseForm()">Cancel</button>
            <form #addExpenseForm="ngForm" (ngSubmit)="addExpense(addExpenseForm.value)">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description" ngModel required>
              </div>
              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" ngModel required>
              </div>
              <button type="submit" class="add-btn">Add expense</button>
            </form>
          </div>    
        </div>

        <div class="users-content" *ngIf="activeTab === 'users'">
          <div class="card" *ngFor="let user of users">
            <h5 class="card-title">{{ user.attributes.name }}</h5>
            <p class="card-text">{{ user.id }}</p>
          </div>
          <button class="add-btn" *ngIf="!showAddUserForm" (click)="toggleAddUserForm()">Add user</button>
          <div id="add-user-form-container" *ngIf="showAddUserForm">
            <button class="btn btn-secondary" (click)="toggleAddUserForm()">Cancel</button>
            <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm.value)">
              <div class="form-group">
                <label for="description">Username</label>
                <input type="text" class="form-control" id="username" name="username" ngModel required>
              </div>
              <button type="submit" class="add-btn">Add user</button>
            </form>
          </div>   
        </div>

        <div class="balance-content" *ngIf="activeTab === 'balance'">
          <div class="card" *ngFor="let balance of balances">
            <h5 class="card-title">{{ balance.attributes.name }}</h5>
            <p class="card-text">{{ balance.attributes.amount }}</p>
          </div>
        </div>
        <div class="debts-content" *ngIf="activeTab === 'debts'">
          <div class="card" *ngFor="let debt of debts">
            <!--
            <h5 class="card-title">{{ expense.title }}</h5>
            <p class="card-text">{{ expense.description }}</p>
            -->
          </div>
        </div>
      </div>
</div>
